* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background:
    linear-gradient(rgba(0, 0, 0, .4), transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, .4), transparent 1px);
  background-size: 30px 30px;
}

.app {
  min-height: 100vh;
  padding: 30px;
  display: flex;
  row-gap: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.board {
  width: 360px;
  height: 360px;
  outline: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 120px;
  height: 120px;
  border: 2px solid #000;
}